body{background-color: #e2e2e2; font-family: sans-serif; }
#PMSValue {
border-color: #4d4044;
border-style: solid;
max-width: 40%;
text-align: left;
font-size: 1.5em;
border-radius: 5px;
padding: 1em;
margin: 1em;
border-width: thick;
background-color: white;
}
.menu {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
.menu li {
float: left;
}
.menu li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.menu li a:hover:not(.active) {
background-color: #111;
}
.menu li a.active {
float: right;
}
.active {
background-color: #4CAF50;
}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #d2d2d2;
color: white;
text-align: center;
padding: 0.5em;
}